body {
	 font-family: Arial,"Times New Roman","Microsoft YaHei", SimSun, SimHei;  
	  /*英文字体在前，中文在后*/
	  /*-webkit-font-smoothing: antialiased;*/
	  /*overflow-x: hidden;	*/
	  /*隐藏横向滚动条*/
	  margin: 0;
}

.header {
	background-color: #00CACA;
	border: 0;
	width: 100%;

	height: 3.2rem;

	text-align: center;
	display: block;
}

.btn-close-area {
	background-color: #00CACA;
	text-align: left;
	width: 31%;

	margin-left: 1%;
	margin-right: 1%;

	float: left;
}

.btn-close-area button {
	background-color: inherit;
	color: white;
	height: 50px;
	width: 80px;
	padding: 0;
	border: 0;

	font-family: inherit;
	font-size: 1.2em;
}

.header-text {
	width: 31%;

	margin-left: 1%;
	margin-right: ;

	display: inline;
	float: left;
}

.header-text a{
	text-align: center;
	color: white;
	height: 50px;

	line-height: 50px;
	font-family: inherit;
	font-size: 1.5em;
}

.btn-reg-area {
	background-color: #00CACA;
	text-align: right;

	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	/*float: left;*/
	float: right;
}

.btn-reg-area button{
	background-color: inherit;
	color: white;

	height: 50px;
	width: 80px;
	padding: 0;
	border: 0;

	font-family: inherit;
	font-size: 1.2em;
}


.userform-container {
	background-color: #FCFCFC;

	width: 100%;
	padding: 0;
	border: 0;

	padding-top: 10px;
	padding-bottom: 10px;
}

.username {
	height: 3.5rem;
	width: 100%;
	border: 0;
	padding-bottom: 5px;

	position: relative;
}

.password {
	height: 3.2rem;
	width: 100%;
	border: 0;
	padding-top: 5px;
	padding-bottom: 20px;

	vertical-align: middle;
	position: relative;
}
/*
.username i {
	background: url(iphone_small.png) 20% 50% no-repeat;

	background-color: white;

	width: 10%;
	height: 30%;
	top: 39%;
	left: 2%;

	vertical-align: middle;
	position: relative;
	display: inline-block;
}

.password i {
	background: #f3f3f3 url(locked_small.png) 20% 50% no-repeat;
	background-color: white;

	width: 10%;
	height: 30%;
	top: 39%;
	left: 2%;
	
	vertical-align: middle;
	position: relative;
	display: inline-block;
}*/

input.user {
	background: white url(iphone_small.png) 5% 50% no-repeat;
	color: #999;
	width: 85%;
	height: 2rem;

	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15%;
	margin: 0;
	border: 0;

	display: inline-block;
}

input.psw {
	background: white url(locked_small.png) 5% 50% no-repeat;
	color: #999;
	width: 85%;
	height: 2rem;

	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15%;
	margin: 0;
	border: 0;

	display: inline-block;
}


.login-area {
	background-color: #00CACA;
	padding: 0;
	border: 0;
	text-align: center;

	height: 20%;

	clear: both;

	margin-top: 0;
	margin-bottom: 0;
}

.login-area button {
	background-color: #00CACA;

	height: 50px;

	padding-left: 20px;
	padding-right: 20px;

	border: 0;
	color: white;
	position: relative;
	font-family: inherit;
	font-size: 1.4em;
}

.login-area ul {
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 5px;
	list-style: none;
	font-size: 1em;
}

.login-area a {
	color: #00CACA;
	text-decoration: none;
	font-family: inherit;
}