body {
    font-family: Arial, "Times New Roman", "Microsoft YaHei", 
    			SimSun, SimHei;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}
p {
	letter-spacing: 1px;
}
h4 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;	
}
a {
	cursor: pointer;
}

.header {
	line-height: 40px;
}
.header-tel {
	color: #56a087;
	line-height: 40px;
}
.header-login {
	height: 40px;
	float: right;
	/*margin-right: -50px;*/
}
.header-login-img {
	margin-top: 8px;
	margin-left: 15px;
	height: 24px;
	width: 24px;
	background-size: 100%;
	display: inline-block;
}
.login-wx {
	background: url(./Pic/task8/header/weixin.jpg) no-repeat center;
}
.login-qq {
	background: url(./Pic/task8/header/qq.jpg) no-repeat center;
}
.login-wb {
	background: url(./Pic/task8/header/weibo.jpg) no-repeat center;
}

.header-nav-wrap {
	height: 100px;
}
.nav, .navbar {
	background-color: #29b078;
}
.navbar {
	border: none;
}
.navbar-header {
	margin-top: 10px;
}
.navbar-collapse {
	/*margin-right: -50px;*/
}
.navbar-collapse ul {
	float: right;
	padding: 0;
	list-style: none;
}
.navbar-collapse li {
	list-style: none;
	vertical-align: middle;
	padding: 0;
	float: left;
}
.navbar-nav>li>a {
	display: block;
	padding: 0;
	height: 100px;
	line-height: 100px;
	color: white;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}
.navbar-collapse>.navbar-nav>li {
	padding: 0 32px;
}
.navbar-nav>li:last-child {
	padding: 0 0 0 32px;
}

.banner {
	width: 100%;
	/*padding: 0;*/
}
.row {
/*	margin-left: 0;
	margin-right: 0;*/
}
.banner .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

/*轮播*/
.carousel-inner img {
	/*max-height: 550px;*/
}
/*轮播标志*/
.carousel>.carousel-indicators>li {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 30px;
}


.home-tag, .stats {
	margin-left: 50px;
}
.home-tag {
	padding: 50px 0 50px 0;
	text-align: center;
	vertical-align: middle;
}
.home-tag-icon {
	height: 62px;
}
.home-tag img {
	max-height: 62px;
}
.home-tag p {
	margin: 0 auto;
	padding-top: 5px;
	width: 220px;
	text-align: left;
	font-size: 15px;
	color: #999999;
}


.overview-split-line {
	float: left;
	padding-left: 50px;
	width: 1px;
	height: 260px;
	position: relative;
	background: url(./Pic/task8/overview/splitline.png) center no-repeat;
	background-size: 1px 264px;
	display: inline-block;
}
.stats {
	margin: 30px auto 0 auto;
	text-align: center;
	width: 300px;
	padding: 50px 0 50px 0;
}
.stats-box {
	width: 180px;
	margin: 0 auto 5px auto;
	text-align: left;
}
.stats-box-icon {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 13px;
	background: url(./Pic/task8/overview/avatar_small.jpg) 
				center center no-repeat;
	background-size: 15px 13px;
}
.stats-box-value {
	display: inline-block;
	font-size: 18px;
	padding-left: 12px;
}
.stats-box-intro {
	display: inline-block;
	font-size: 16px;
}


.steps>.row{
	text-align: center;
	padding-left: 68px;
	padding-right: 10px;
}
.steps-col {
	padding: 40px 0 50px 0;
	min-width: 216px;
}
.steps-end {
	/*max-width: 220px;*/
}
.steps-num {
	display: inline-block;
	text-align: center;
	line-height: 55px;
	position: relative;
	width: 55px;
	height: 55px;
	background: url(./Pic/task8/steps/ellipse.png) 
				center center no-repeat;
	background-size: 55px 55px;
}
.steps-num p { 
	color: #29b078; 
}
.steps-intro {
	display: inline-block;
	position: relative;
	height: 55px;
	vertical-align: middle;
	line-height: 55px;
	margin-left: 5px;
}
.steps-intro span {
	display: table-cell;	/*内部文字居中*/
	position: relative;
	width: 145px;
	height: 55px;
	text-align: left;
	vertical-align: middle;
	margin: 0 auto;
	font-size: 13px;
	line-height: 22px;	
}
.steps-next {
	display: inline-block;
	text-align: center;
	line-height: 50px;
	position: relative;
	margin: 0 auto;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	background: url(./Pic/task8/steps/triangle-next.jpg) 
				center center no-repeat;
	background-size: 30px 26px;
}
.steps-next-help {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}



.trainee>.row {
	text-align: center;
	padding-left: 60px;
	padding-right: 40px;
}
.trainee-section {
	width: 90%;
	background-color: #FFFFFF;
	text-align: center;
	margin-bottom: 50px;
}
.trainee-avatar {
	margin: 0 auto;
	padding: 10px 0 0 0;
	border-radius: 50%;
}
.trainee-avatar img {
	max-width: 90px;
}
.trainee-section span {
	display: block;
	padding: 25px 0 25px 0;
	font-size: 16px;
}
.trainee-section p {
	margin: 0 auto;
	width: 88%;
	text-align: left;
	padding-bottom: 30px;
	line-height: 25px;
}



.enterprise {
	width: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 70px;
}
.enterprise>.row {
	position: relative;
	width: 100%;
	text-align: center;
	padding-left: 90px;
	padding-right: 90px;	
}
.enterprise-section {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.enterprise-block {
	text-align: center;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 20%;
}
.enterprise-img {
	position: relative;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	width: 200px;
}


.links {
	width: 100%;
	padding: 0 0 10px 0;
	background-color: #FFFFFF;
}
.links>.row {
	width: 100%;
	text-align: center;
}
.links h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.links-block {
	margin: 0 auto;
}
.links-block a {
	text-decoration: none;
	color: #000000;
}
.links-block li {
	width: 80px;
	margin: 0 5px;
	display: inline-block;
	list-style-type: disc;
}
.links-block li:before {
	content:'\ffed'; 
	margin-right:0.5em;
}


.footer {
	margin-top: 230px;
	padding: 20px 0 35px 0;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #29b078;
}
.about .lead {
	padding-bottom: 40px;
}
.qrcode {
	text-align: center;
}
.website {
}
.website p {
	padding-left: 60px;
	padding-bottom: 5px;
}
.website a {
	padding-right: 30px;
}
.footer a {
	color: white;
}
.footer .lead {
	margin-top: 20px;
	font-size: 16px;
}
.footer p {
	display: block;
}
.footer img {
	width: 92px;
}


.copyright {
	color: #FFFFFF;
	background-color: #29b078;
	text-align: center;
	border-top: 0.1rem solid #32c086;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}


img,span,h1,h2,h3,h4,h5,a {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}