body {
    font-family: Arial, "Times New Roman", "Microsoft YaHei", 
    			SimSun, SimHei;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}
p {
	/*letter-spacing: 1px;*/
}
h5 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;	
}
a {
	cursor: pointer;
}



.header {
	line-height: 40px;
}
.header-tel {
	color: #56a087;
	line-height: 40px;
	margin-left: 100px;
}
.header-login {
	margin-right: 100px;
}
.header-login-img {
	float: right;
	margin-top: 8px;
	margin-left: 15px;
	height: 24px;
	width: 24px;
	background-size: 100%;
	display: inline-block;
}
.login-wx {
	background: url(./Pic/task8/header/weixin.jpg) no-repeat center;
}
.login-qq {
	background: url(./Pic/task8/header/qq.jpg) no-repeat center;
}
.login-wb {
	background: url(./Pic/task8/header/weibo.jpg) no-repeat center;
}

.header-nav-wrap {
	height: 100px;
}
.nav, .navbar {
	background-color: #29b078;
}
.navbar {
	border: none;
}
.navbar-header {
	margin-top: 10px;
	margin-left: 120px;
}
.navbar-collapse ul {
	float: right;
	margin: 0 70px 0 0;
	padding: 0;
	list-style: none;
}
.navbar-collapse li {
	list-style: none;
	vertical-align: middle;
	padding: 0;
	float: left;
}
.navbar-nav>li>a {
	line-height: 80px;
	color: white;
}
.navbar-collapse a {
	display: block;
	height: 100px;
	padding: 0 30px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}



.coop-banner {
	margin: 0;
	padding: 0;
}
.coop-banner img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.coop-content {
	margin: 0 350px;
	max-width: 1200px;
	padding: 0;
}
.coop-content-title {
	text-align: left;
	font-size: 16px;
}
.coop-content-subtitle {
	color: #29b078;
	font-weight: bold;
	font-size: 16px;
}


.coop-content-catalog {
	height: auto;
	padding: 0;
	float: left;
	background-color: #FFFFFF;
	/*padding-bottom: 20px;*/
	width: 305px;
}
.coop-content-catalog-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px 0;
	padding: 10px 20px 15px 20px;
	/*border-bottom: 1px solid #fafafa;*/
	font-weight: bold;
	font-size: 16px;
}
.catalog-split-line {
	position: relative;
	width: 100%;
	height: 3px;
	padding: 0;
	margin-bottom: 20px;
	background-color: #fafafa;
}
.coop-content-catalog label {
	width: 100%;
	padding-left: 34px;
	color: #29b078;
}
/*伪元素的样式：橙色圆形框*/
.coop-content-catalog input[type="radio"] + label::before {
	content: "\a0"; /*不换行空格*/
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	width: .6em;
	height: .6em;
    margin-right: .3em;
	border-radius: 50%;
	border: 1px solid #ff6400;
	}
/*勾选状态样式：对圆形框填充相同颜色*/
.coop-content-catalog input[type="radio"]:checked + label::before {
	background-color: #ff6400;
	background-clip: content-box;	/*规定背景的绘制区域：背景被裁剪到内容框*/
	}
/*隐藏单选按钮：剪切掉*/
.coop-content-catalog input[type="radio"] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	}
/*勾选状态，label文字颜色*/
.coop-content-catalog input[type="radio"]:checked + label {
	color: #ff6400;
}
.coop-content-catalog a {
	width: 80px;
	height: 20px;
	margin: 0 0 0 0px;
	display: inline-block;
	color: #29b078;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
}
.coop-content-catalog ul {
	list-style: none;
	padding: 10px 10px;
	margin: 0 auto;
	position: relative;
	min-width: 130px;
	text-align: center;
}
.coop-content-catalog li {
	width: 50%;
	/*list-style-type: circle;*/
/*	background:url(./Pic/task8/recommand/empty.png) no-repeat center center;
	background-size: 14px 14px;
	background-position: 0px 50%;*/
	display: inline-block;
	padding: 20px 0px;
	margin: 0 auto;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}



.coop-content-detail {
	background-color: #FFFFFF;
	margin-left: 25px;
	padding: 0;
	max-width: 870px;
}
.coop-content-detail-overview {
	padding: 3px 0;
}
.coop-content-detail-overview-banner {
	display: inline-block;
	float: left;
	/*position: relative;*/
}
.coop-content-detail-overview-banner img {
	max-width: 230px;

}
.coop-content-detail-overview-text {
	height: 156px;
	padding: 0 52px;
	display: table-cell;
	vertical-align: middle;
}
.coop-content-detail-overview-text p {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	line-height: 30px;
	color: grey;
}
.coop-content-detail-text {
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 70px;
	text-indent: 2em;
	height: 945px;
}
.coop-content-detail-text p {
	line-height: 30px;
	padding: 0 0px 45px 0px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: grey;
}



.footer {
	margin-top: 230px;
	padding: 20px 0 35px 0;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #29b078;
}
.about .lead {
	padding-bottom: 40px;
}
.qrcode {
	text-align: center;
}
.website {
}
.website p {
	padding-left: 60px;
	padding-bottom: 5px;
}
.website a {
	padding-right: 30px;
}
.footer a {
	color: white;
}
.footer .lead {
	margin-top: 20px;
	font-size: 16px;
}
.footer p {
	display: block;
}
.footer img {
	width: 92px;
}


.copyright {
	color: #FFFFFF;
	background-color: #29b078;
	text-align: center;
	border-top: 0.1rem solid #32c086;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}


span,h1,h2,h3,h4,h5 {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}