body {
    font-family: Arial, "Times New Roman", "Microsoft YaHei", 
    			SimSun, SimHei;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}
p {
	letter-spacing: 1px;
}
h5 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;	
}
a {
	cursor: pointer;
}



.header {
	line-height: 40px;
}
.header-tel {
	color: #56a087;
	line-height: 40px;
	margin-left: 100px;
}
.header-login {
	margin-right: 100px;
}
.header-login-img {
	float: right;
	margin-top: 8px;
	margin-left: 15px;
	height: 24px;
	width: 24px;
	background-size: 100%;
	display: inline-block;
}
.login-wx {
	background: url(./Pic/task8/header/weixin.jpg) no-repeat center;
}
.login-qq {
	background: url(./Pic/task8/header/qq.jpg) no-repeat center;
}
.login-wb {
	background: url(./Pic/task8/header/weibo.jpg) no-repeat center;
}

.header-nav-wrap {
	height: 100px;
}
.nav, .navbar {
	background-color: #29b078;
}
.navbar {
	border: none;
}
.navbar-header {
	margin-top: 10px;
	margin-left: 120px;
}
.navbar-collapse ul {
	float: right;
	margin: 0 0px 0 0;
	padding: 0;
	list-style: none;
}
.navbar-collapse li {
	list-style: none;
	vertical-align: middle;
	padding: 0;
	float: left;
}
.navbar-nav>li>a {
	line-height: 80px;
	color: white;
}
.navbar-collapse a {
	display: block;
	height: 100px;
	padding: 0 30px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}



.coop-banner {
	margin: 0;
	padding: 0;
}
.coop-banner img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.coop-content {
	padding-left: 130px;
}
.coop-content-title {
	text-align: left;
}
.coop-content-subtitle {
	color: #29b078;
}


.coop-content-catalog {
	height: auto;
	float: left;
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 240px;
}
.coop-content-catalog-title {
	width: 100%;
	text-align: center;
	padding: 0px 20px 15px 20px;
	border-bottom: 1px solid #fafafa;
}
.coop-content-catalog-title h4 {
	margin: 0 auto;
	min-width: 120px;
}
.catalog-split-line {
	width: 100%;
	height: 3px;
	margin-bottom: 30px;
	background-color: #fafafa;
}
.coop-content-catalog a {
	color: #29b078;
	text-decoration: none;
}
.coop-content-catalog ul {
	list-style: none;
	padding: 10px 10px;
	margin: 0px;
	position: relative;
	min-width: 130px;
	text-align: center;
}
.coop-content-catalog li {
	width: 50%;
	/*list-style-type: circle;*/
	background:url(./Pic/task8/recommand/empty.png) no-repeat center;
	background-size: 14px 14px;
	background-position: 0px 14px;
	padding: 10px 0px 30px 20px;
	margin: 0 25% 0 auto;
	position: relative;
	text-align: left;
	font-size: 12px;
}



.coop-content-detail {
	background-color: #FFFFFF;
	margin-left: 2em;
	/*position: relative;*/
}
.coop-content-detail-overview-banner {
	display: inline-block;
	float: left;
	/*position: relative;*/
}
.coop-content-detail-overview-banner img {
	max-width: 200px;
}
.coop-content-detail-overview-text {
	width: 50%;
	height: 150px;
	display: table-cell;
	vertical-align: middle;
}
.coop-content-detail-overview-text p {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	line-height: 30px;
}
.coop-content-detail-text {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	text-indent: 2em;
}




.footer {
	margin-top: 100px;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #29b078;
}
.about {
	padding-left: 100px;
}
.footer a {
	color: white;
}
.footer-lead {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}
.footer p {
	display: block;
}
.footer img {
	width: 90px;
}


.copyright {
	color: #FFFFFF;
	background-color: #29b078;
	text-align: center;
	border-top: 0.1rem solid #32c086;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}


span,h1,h2,h3,h4,h5 {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}