body {
	font-family: Arial,"Times New Roman",
				"Microsoft YaHei", SimSun, SimHei;
	margin: 0;
	/*height: 100%;*/
	height: 600px;
}

.head {
	width: 100%;

	padding: 0;
	margin: 0;

	text-align: center;
	line-height: 40px;
}

.return {
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;

	position: fixed;
	z-index: 9999;

	background-color: #5FC0CD;
	color: white;
}

.return img {
	height: 40px;
	width: 22px;
	margin: 0;

	position: absolute;
	top: 0%;
	left: 0%;

	padding-left: 3%;
	padding-right: 3%;
}

.return a{
	text-decoration: none;
	font-family: inherit;
	font-size: 1.2em;
	position: relative;
}

.head-bg {
	width: 100%;
	height: 9.3rem;
	margin: 0;
	padding: 0;

	position: relative;
	top: 40px;
	z-index: 100;

	-webkit-filter: blur(2px);
	filter: blur(2px);

	background: url(./Pic/background.jpg) center 0% no-repeat;
	background-size: cover;
}

.h-user {
	width: 100%;
	height: 9.3rem;

	float: left;
	position: absolute;
	z-index: 999;
	top: 40px;

	display: flex;
	/*justify-content: center;*/
    align-items: center;

    background: transparent;
    color: white;
    background-color:rgba(202,202,202,0.4);
}

.h-avatar {
	background: url(./Pic/female.png) 50% 0% no-repeat;
	background-color: #efefef;
	background-size: 75%;

	width: 100px;
	height: 100px;

	margin-left: 15px;
	padding: 0;
	border-radius: 50%;
}

.h-info {
	color: white;
	vertical-align: middle;
	line-height: 20px;
	margin-left: 10px;
}

.h-basic {
	height: 20px;
	margin-left: 5px;
	margin-bottom: 5px;
}

#h-name {
	margin-right: 5px;
	font-size: 16px;
}

#h-age {
	font-size: 14px;
}

#h-address {
	font-size: 12px;
}

.h-location {
	height: 20px;
}

#h-icon {
	display: inline-block;
	background-image: url(./Pic/location.png);
	width: 18px;
	height: 23px;
	vertical-align: middle;
}



.mod-profile {
	width: 100%;
	height: 330px;
	margin-top: 10px;
	padding: 0;
	
	position: absolute;
	top: 180px;
}

.mod-profile span {
	max-width: 300px;
}

.mod-profile dl {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
}

.mod-profile dt {
	height: 40px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 40px;
}

.mod-profile dd {
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}

.content .profile-attitude {
	min-width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: grey;

	display: inline-block;
}

.content .profile-value {
	height: 40px;
	text-align: left;
	padding-left: 20px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	display: inline-block;
}

.content .price {
	color: red;
}

.content .self-intro {
	max-width: 68%;
	height: 40px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 13px;
	word-wrap: break-word;
	float: left;
	margin-left: 4px;
}
/*根据屏幕宽度改变行高，自适应*/
@media screen and (min-width: 585px) {
	.content .self-intro { line-height: 40px; }
}

.home, .meal {
	background: url(./Pic/star.png) 6% 45% no-repeat;
	background-size: 13px 13px;
	padding-right: 10px;
}

.split-line-top {
	height: 1px;
	background: #f2f2f2;
}

.split-line {
	height: 1px;
	width: 95%;
	background: #f2f2f2;
	overflow: hidden;
	margin: 0 auto;
	float: right;
}



.links-area {
	width: 100%;
	height: 70px;
	margin: 0 auto;

	position: fixed;
	bottom: -20px;
	z-index: 9999;

	text-align: center;
	vertical-align: middle;
}

.links-area-wrap {
	width: 50%;
	height: 40px;
	padding: 0;
	margin: 0 auto;

	text-align: center;

	float: left;
}

.links-area-wrap-container {
	width: 90%;
	display: inline-block;		/*超链接内的div居中*/
}

.links-area .pad {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #5FC0CD;
}

.links-area .comment, .cellphone {
}

.links-area a {
	text-decoration: none;
}

.comment .pad {
	color: #5FC0CD;
}

.cellphone .pad {
	color: white;
	background-color: #5FC0CD;
}
