.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.header {
	width: 100%;
/*	position: fixed;
	top: 0;
	z-index: 9999;*/
}
.navbar {
	width: 100%;
	height: auto;
	background-color: #29bde0;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;	
	margin-bottom: 0;
	min-height: 40px;
}
.navbar-btn {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 8px 8px;
	border: 0;
	background-color: transparent;
	background-image: none;
	line-height: 20px;	
}
.navbar-btn img {
	max-width: 25px;
	margin: 0 auto;
}
.page-menu {
	float: left;
}
.page-close {
	float: right;
}

.page-title {
	width: 30%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.page-title h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	color: white;
}



.music-player {
	width: 100%;
	position: fixed;
	top: 44px;
	z-index: 9999;
	background-color: #b9e9f5;
}
.music-player h5 {
	margin: 16px 0 15px 30px;
}
.btn-audio {
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(./Pic/task7/votepage/vote-play.png) 
				no-repeat center center;
	background-size: cover;
	margin-top: 8px;
	margin-right: 10px;
}
.vote-title {
	float: left;
	display: block;
}



.inverted-triangle {
	width: 14px;
	height: 20px;
	position: fixed;
	z-index: 9999;
	top: 85px;
	left: 30px;
	background-color: transparent;
    border-top: 14px solid #b9e9f5;
	border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}



.select-page {
	width: 100%;
	height: auto;
	background-color: #29bde0;
	position: absolute;
	z-index: 100;
	top: 90px;
}
.select-title {
	display: block;
	padding: 10px;
	margin-left: 20px;
	margin-top: 8px;
	color: white;
	font-size: 14px;
}

.select-content {
	width: 100%;
	text-align: center;
	padding-bottom: 68px;
}
.select-content .row {
	margin-left: 0;
	margin-right: 0;
}
.player {
	position: relative;
	width: 80px;
	height: 80px;
	padding: 0;
	margin: 10px auto;
	background-color: #f5c97b;
	border: 4px solid white;
	text-align: center;
	vertical-align: middle;
}
.player-name {
	display: block;
	height: 50%;
	width: 100%;
	font-size: 18px;
	line-height: 50px;
}
.player-number {
	display: block;
	width: 100%;
	height: 28%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	color: white;
	line-height: 20px;
	background-color: #83b09a;
}





.footer {
	width: 100%;
	background-color: #29bde0;
}
.footer button {
	width: 85%;
	margin: 18px auto 6px auto;
	background-color: #fbb435;
	text-align: center;
}
.vote span {
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0 auto;
}