body {
	font-family: Arial,"Times New Roman",
				"Microsoft YaHei", SimSun, SimHei;
	margin: 0;
	height: 600px;
}

.head {
	width: 100%;
}

.nav {
	width: 100%;
	height: 50px;
	background-color: #5FC0CD;
	position: fixed;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	z-index: 9999;
}

.nav-wwap {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.nav-wwap a {
	padding: 0;
	margin: 0 auto;
	color: white;
	text-decoration: none;
}

.navibar-link {
	width: 25%;
	height: 36px;
	line-height: 40px;
	padding: 0;
	margin: 0 0 0 -1%;
	background-color: #55a8b3;
	border-radius: 10%;
	display: inline-block;
	vertical-align: middle;
}

.profile-link {
	height: 50px;
	position: absolute;
	top: 0%;
	right: 0%;
	z-index: 9999;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	float: right;
}

.profile-link img {
	width: 50%;
	padding: 20%;
	vertical-align: middle;
}


.filter {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 50px;
	z-index: 9999;
	border-bottom: 1px solid grey;
	background-color: #F8FAFB;
}

.filter a {
	text-decoration: none;
	color: grey;
}

.location, .meal, .condition{
	width: 33.33%;
	height: 50px;
	float: left;
	line-height: 50px;
	text-align: center;
}

.filter-link {
	width: 100%;
	height: 50px;
	vertical-align: middle;
	position: relative;
	border-right: 1px solid grey;
}

/*css模拟下拉菜单*/
.drop-down-content {
	padding: 0;
	opacity: 0.3;
	height: 0;
	overflow: hidden;
	transition: all 1s ease;
	position: absolute;
	top: 70%;
	width: inherit;
}

.drop-down-content a {
	display: block;
	text-decoration: none;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: black;
	background-color: #F8FAFB;
	width: inherit;
}

.drop-down-content li:hover a{
    background-color: #5FC0CD;
}

.filter-link:hover .drop-down-content{
    opacity: 1;
    height: 150px;
}
/*css模拟下拉菜单 end*/

.filter-select {
	position: absolute;
	right: 6%;
	top: -5%;
	vertical-align: middle;
	text-align: center;

}

.filter-select img {
	width: 9px;
}




.result {
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 100px;
	/*margin-left: -10px;*/  /*原有*/
	min-height: 750px;
}

.so-list {
	list-style-type: none;
	height: 70px;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: -1.8rem;	/*临时*/
}

.so-list li {
	line-height: 22px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.service-info {
	vertical-align: middle;
	position: relative;
}

.service-info, .service-content {
	width: 100%;
}
.service-content {
	/*position: relative;*/
	display: inline-block;
}

.service-date-attr {
	/*width: 100%;*/
	padding-left: 20px;
	display: block;
	background:transparent url(./Pic/date-grey.png) 0% 35% no-repeat;
	background-size: 13px 13px;
	/*position: relative;*/
}
/*可以统一加入内容*/
.service-date-attr:after {
	content: "服务日期";
	font-size: 14px;
	color: grey;
}

.service-date-cnt {
	width: 60%;
	height: 16px;
	display: inline-block;
	padding-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.date-span {
	width: 100%;
	height: inherit;
	font-size: 15px;	
}


.service-salary {
	position: absolute;
	display: inline-block;
	height: 20px;
	width: 40%;	
	text-align: center;
}
.salary {
	position: relative;
	padding-right: 1.5em;
	color: red;
	text-align: center;
	height: inherit;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}


.service-location {
	display: block;
	color: grey;
	font-size: 12px;
	background:transparent url(./Pic/location-grey.png) 0% 30% no-repeat;
	background-size: 11px 11px;
	padding-left: 20px;
}

/*灰色分割线*/
.split-line {
	height: 1px;
	background: #f2f2f2;
}


.service-detail {
	box-sizing: inherit;
	position: absolute;
	top: 0%;
	right: 0%;
	vertical-align: middle;
	text-align: center;
	line-height: 60px;
}

.service-detail img {
	max-width: 10px;
	position: relative;
	top: 5px;
}

.service-detail-link {
	width: 20px;
	height: 60px;
	/*background:url(./Pic/ex56.png) no-repeat 0px 0px;width:10px;padding-left:21px;*/
}



.footer {
	background-color: #F8FAFB;

	width: 100%;
	max-height: 40px;

	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 9999;

	display: table;
	table-layout: fixed; 
}

.footer-left, .footer-center, .footer-right {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	
	padding: 0;
	margin: 0 auto;

	display: table-cell;
}

.footer a {
	line-height: 30px;
	text-decoration: none;
	font-size: 14px;
}

.home-pic, .my-pic {
	height: 40%;
}

.footer-text {
	height: 10px;
	font-size: 13px;
	color: #5FC0CD;
	padding-top: 5px;
}


.footer-left {
}
.footer-center {
}
.footer-right {
}

.home, .my, .comment {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.home {
	float: right;
}
.my {
	float: left;
}
.comment {
	width: 50px;
}

.footer-left img {
	max-height: 20px;
	vertical-align: middle;
}

.footer-center img {
	max-height: 40px;
	vertical-align: middle;
}

.footer-right img {
	max-height: 20px;
	vertical-align: middle;
}

