.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
/*点击后不出现边框效果*/
input, button, select, textarea {
	outline:none;
}
a {
	text-align: center;
	text-decoration: none;	
}
a:hover {
	text-decoration: none;
}
.header {
	width: 100%;
}
.navbar {
	width: 100%;
	height: auto;
	background-color: #29bde0;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;	
	margin-bottom: 0;
	min-height: 40px;
}
.navbar-link {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 8px 8px;
	border: 0;
	background-color: transparent;
	background-image: none;
	line-height: 20px;	
}
.navbar-link img {
	max-width: 25px;
	margin: 0 auto;
}
.page-menu {
	float: left;
}
.page-close {
	float: right;
}

.page-title {
	width: 30%;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
}
.page-title span {
	display: block;
	font-size: 20px;
	color: white;
	margin: 0 auto;
}



.music-player {
	width: 100%;
	position: fixed;
	top: 44px;
	z-index: 9999;
	background-color: #b9e9f5;
}
.music-player h5 {
	margin: 16px 0 15px 30px;
}
.btn-audio {
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(./Pic/task7/votepage/vote-play.png) 
				no-repeat center center;
	background-size: cover;
	margin-top: 8px;
	margin-right: 10px;
}
.vote-title {
	float: left;
	display: block;
}

/*倒三角的div效果*/
.inverted-triangle {
	width: 14px;
	height: 20px;
	position: fixed;
	z-index: 9999;
	top: 85px;
	left: 30px;
	background-color: transparent;
    border-top: 14px solid #b9e9f5;
	border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}


.select-page {
	width: 100%;
	height: auto;
	background-color: #29bde0;
	position: absolute;
	z-index: 100;
	top: 90px;
	overflow: hidden;
}
.select-title {
	display: block;
	padding: 10px;
	margin-left: 20px;
	margin-top: 8px;
	color: white;
	font-size: 14px;
}

.select-content {
	width: 100%;
	text-align: center;
	padding-bottom: 68px;
}
.select-content .row {
	margin-left: 0;
	margin-right: 0;
}
.player {
	position: relative;
	width: 90px;
	height: 90px;
	padding: 0;
	margin: 10px auto;
	background-color: #f5c97b;
	border: 4px solid white;
	text-align: center;
	vertical-align: middle;
}
.player-name {
	display: block;
	height: 50%;
	width: 100%;
	font-size: 18px;
	line-height: 60px;
}
.player-number {
	display: block;
	width: 100%;
	height: 28%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	color: white;
	line-height: 25px;
	background-color: #83b09a;
}
/*鼠标在头像上。显示四个操作按键：*/
.player:hover ~ .vote-options {display: block;}
/*父标签元素控制子标签元素：*/
/*.vote-col:hover > .vote-options {display: block;}*/
.vote-col {
	height: 130px;
}
.vote-options {
	display: none;
	position: relative;
	width: 100%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}
.vote-btn {
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: 0;
	margin: 0 0px;
	padding: 0 0px;
	display: inline-block;
	line-height: 15px;
}
.vote-btn img {
	position: relative;
	max-height: 20px;
	margin: 0 auto;
}
/*响应式布局*/
@media screen and (max-width: 365px) {
	.player {
		width: 80px;
		height: 80px;		
	}
	.vote-btn {
		width: 16px;
		height: 16px;
	}
	.vote-btn img {
		max-height: 16px;
	}
	.player-number {
		line-height: 20px;
	}
}




.footer {
	width: 100%;
	background-color: #29bde0;
}
.footer a {
	width: 85%;
	margin: 18px auto 6px auto;
	background-color: #fbb435;
}
.vote span {
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0 auto;
}

span,h1,h2,h3,h4,h5  {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}