body {
    font-family: Arial, "Times New Roman", "Microsoft YaHei", 
    			SimSun, SimHei;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
}
h5 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;	
}
a {
	cursor: pointer;
}

/*字体声明：创艺简粗黑*/
/*@font-face {
	  font-family: CYCuHeiJ;
	  src: url('.Fonts/CYCuHeiJ/CYCuHeiJ.eot');
	  src: 
	   url('.Fonts/CYCuHeiJ/CYCuHeiJ.ttf') format('truetype'),
	   url('.Fonts/CYCuHeiJ/CYCuHeiJ.otf') format('opentype'),
	   url('.Fonts/CYCuHeiJ/CYCuHeiJ.eot?#iefix') format('embedded-opentype'),
	   url('.Fonts/CYCuHeiJ/CYCuHeiJ.woff') format('woff'),
	   url('.Fonts/CYCuHeiJ/CYCuHeiJ.svg#CYCuHeiJ') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}*/

.flow, .form {
	background-color: #fff;
}

.wrapper {
	background-color: #fff;
}
.header {
	height: 40px;
	line-height: 40px;
	padding: 0;
	background-color: #1d7ad9;
}
.header>.container {
	width: 1200px;
	padding: 0;
}
.header-tel {
	color: #fff;
	font-size: 14px;
}
.header-nav-wrap{
	background-color: #f9f9f9;
}
.header-submit {
	text-align: right;
}
.header-submit a {
	display: inline-block;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	text-align: center;
}
.header-login {
	width: 55px;
	height: 40px;
	color: #fff;
	border-left: 1px solid #fff;
	text-decoration: none;
}
.header-register {
	background-color: #fff;
	color: #000;
	width: 105px;
	text-decoration: none;
}
.header-nav-wrap {
	height: 100px;
}
.navbar {
	width: 1200px;
	padding: 0;
	border: none;
}
.navbar-header {
}
.navbar-collapse ul {
	float: right;
	padding: 30px 0 25px 0;
	list-style: none;
}
.navbar-collapse li {
	list-style: none;
	vertical-align: middle;
	padding: 0;
	float: left;
}
.navbar-nav>li>a {
	display: block;
	padding: 0 18px;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}
.navbar-collapse>.navbar-nav>li {
	padding: 0 30px;
}
.navbar-nav>li:last-child {
	padding: 0 0 0 30px;
}
/*导航栏按键，鼠标经过时，子元素a的样式*/
.navbar-nav li:hover a{
	color: #FFF;
	background-color: #1d7ad9;
}


.flow {
	width: 1200px;
	padding: 40px 0;
}
.flow-right {
	width: 668px;
	float: right;
}
.flow-step {
	float: left;
	padding: 0 50px 45px 25px;
	text-align: center;
}
.flow-step:nth-last-child(2) {padding: 0 40px 45px 25px;}
.flow-step:nth-of-type(1):before {
	content: "1";
}
.flow-step:nth-of-type(2):before {
	content: "2";
}
.flow-step:nth-of-type(3):before {
	content: "3";
}
.flow-step:nth-of-type(4):before {
	content: "4";
}
.flow-step:before {
	display: block;
	width: 24px;
	height: 24px;
	color: #FFFFFF;
	background-color: #ff7f02;
	line-height: 0px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 12px;
	border-top: 12px solid #ff7f02;
	border-bottom: 12px solid #ff7f02;
	margin: 0 auto;
	cursor: pointer;
}
.flow-step label {
	position: relative;
	display: block;
	padding: 25px 0 0 0;
	color: #ff7f02;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	/*font-family: CYCuHeiJ;*/
	font-weight: normal;
	cursor: pointer;
}
.flow-bar {
	background-color: #cccccc;
	width: 100%;
	height: 6px;
	position: relative;
	top: 10px;
}

.form {
	width: 1200px;
	padding: 0;
	border: 1px solid #f3f3f3;
}
.form-title {
	display: block;
	padding: 15px 0;
	font-size: 22px;
	font-family: "Microsoft YaHei";
}
.form-subtitle {
	padding: 3px 15px;
	font-family: "Microsoft YaHei";
	color: #1d7ad9;
	background-color: #f3f3f3;
}
.box-model>h4 {
	padding-left: 30px;
	background: url(./Pic/task10/box.png) no-repeat 0px 0px;
	background-size: 23px 19px;
}
.box-size>h4 {
	padding-left: 30px;
	background: url(./Pic/task10/ruler.png) no-repeat 0px 0px;
	background-size: 24px 20px;
}
.box-material>h4 {
	padding-left: 30px;
	background: url(./Pic/task10/scissors.png) no-repeat 0px 0px;
	background-size: 19px 21px;
}
.form-content {
	background-color: #fbfcff;
}
.content-model {
	padding: 7px 0px 30px 15px; 
}
.content-size {
	padding: 0px 0px 33px 15px;
}
.content-material {
	padding: 30px 0px 60px 15px;
}
.form-content ul {
	display: inline-block;
	height: 20px;
	list-style: none;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.form-content li {
	/*内部元素垂直居中。IE9无效*/
	display: inline-flex;	
	align-items: center;	
	padding: 0 30px;
	font-size: 18px;
	font-family: "Microsoft YaHei";
}
.form-content input[type="radio"] {
	width: 20px;
	height: 20px;
	opacity: 0;	/*透明*/
	display: none;	/*从TAB中消失*/
}
.form-content label {
	width: 18px;
	height: 18px;
	margin: 0 20px 0 0;
	position: relative;
	border-radius: 50%;
	border: 1px solid #dbdcdc;
	background-color: #f8f9fb;
	text-align: center;
	vertical-align: middle;
}
/*设置选中的input radio的样式*/
/* + 是兄弟选择器,获取选中后的label元素*/
.form-content input[type="radio"]:checked+label { 
	background-color: #1d7ad9;
	border: 1px solid #1d7ad9;
}
/*选中后的radio：蓝色实心圆，中间百色空心小圆*/
.form-content input[type="radio"]:checked+label::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	width: 4px;
	height: 4px;
	border: 1px solid #FFF;
	border-radius: 50%;
	background-color: #FFF;
}
.form-content span {
	font-size: 18px;
	height: 20px;
	line-height: 20px;
}
.form-content input[type="text"] {
	width: 70px;
	height: 32px;
	padding: 4px 0;
	margin: 0 4px 0 8px;
	background-color: #fbfcff;
	border: 1px solid #dbdcdc;
}

.form-submit {
	text-align: center;
}
.form-submit input[type="submit"] {
	width: 180px;
	height: 48px;
	margin: 145px 0 100px 0;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e15053;
	border-radius: 6px;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	color: #FFF;
	background-color: #e15053;
}

.detail-block {
	display: inline-block;
	float: right;
	height: 40px;
/*	position: relative;
	top: 50%;
	transform: translateY(-50%);*/
	margin: 0 auto;
}
.detail-dropdown {
	display: inline-block;
	/*margin: 18px 20px 25px 0;*/
    /*filter: alpha(opacity: 0;);*/
    color: #a9a9a9;
    background-color: #FFF;
    border: 1px solid #e8e8e8;
}
/*下拉箭头图标和位置*/
.detail-btn::after {
	content: "";
	position: absolute;
	right: 6px;
	top: 5px;
	width: 24px;
	height: 28px;
	background: url(./Pic/task10/detail-block.png) no-repeat center;
	background-size: 24px 28px;
	pointer-events: none;
}
.detail-dropdown .detail-btn {
    position: absolute;
    display: block;
	width: 130px;
	height: 40px;
    line-height: 40px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
    text-indent: 18px;
}
/*透明化select，只显示span*/
.detail-dropdown select { 
	width: 130px;
	height: 40px;
	opacity: 0; 
	/*filter: alpha(opacity: 0;); */
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #a9a9a9;  
} 
.detail-dropdown option {
}
.content-model .detail-block {
	margin: 18px 20px 25px 0;
}
.content-size .detail-block {
	margin: 0 20px 0 0;
}
.content-material .detail-block {
	margin: 20px 20px 0 0;
}


.footer {
	margin-top: 230px;
	padding: 20px 0 35px 0;
	text-align: left;
	color: #afafaf;
	text-decoration: none;
	background-color: #f9f9f9;
}
.footer>.container {
	width: 1200px;
	padding: 0;
}
.about .lead {
	padding-bottom: 40px;
}
.about {
	margin-top: 70px;
	padding-right: 0;
}
.about p {
	font-size: 18px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}
.website {
	margin-top: 74px;
}
.website p {
	padding-left: 60px;
	padding-bottom: 5px;
}
.website a:first-child {
	padding-right: 40px;
}
.website a:nth-child(2) {
	padding-right: 25px;
}
.qrcode {
	margin-top: 55px;
}
.qrcode-contact {
	margin-top: 15px;
	padding: 0 15px;
	line-height: 12px;
}
.qrcode div{
	height: 95px;
	display: inline-block;
	float: right;
}
.qrcode p {
	margin: 0 auto;
	padding: 0 0 15px 0;
}
.footer a {
	color: #afafaf;
}
.footer p {
	display: block;
}
.footer img {
	width: 94px;
}


.copyright {
	color: #FFFFFF;
	background-color: #1d7ad9;
	text-align: center;
	/*border-top: 0.1rem solid #1d7ad9;*/
	padding: 8px 0;
	font-size: 12px;
}